name: x7k9m2

on:
  schedule:
    - cron: '0 * * * *'
  workflow_dispatch:

jobs:
  x7k9m2:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install
        run: |
          pip install httpx gallery-dl

      - name: Run
        env:
          GIST_ID: ${{ secrets.GIST_ID }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: python x7k9m2.py
